@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Kalam', cursive;
  background: radial-gradient(#005f8f, #001f3f, black);
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.envelope {
  --duration: 1000ms;
  --shadow-width: calc(var(--envelope-width) * 0.85);
  --shadow-blur: 15px;
  --envelope-width: 300px;
  --envelope-height: 175px;
  --envelope-clr-bg: #d14d44;
  --envelope-clr-bg-side: #c24e46;
  --envelope-clr-bg-bottom: #e15349;
  --envelope-clr-bg-top: #d14d44;
  --envelope-clr-txt: #fff;
  --envelope-transform-hover: rotateY(180deg);
  --evelope-rotate-delay: calc(var(--duration) / 1);
  --evelope-rotate-delay-hover: 0ms;
  --letter-clr-bg: #fff;
  --letter-clr-text: green;
  --letter-font-size: 0.9rem;
  --letter-delay: 0ms;
  --letter-delay-hover: calc(var(--duration) * 1.25);
  --letter-height: calc(var(--envelope-height) - 2rem);
  --letter-height-hover: calc(var(--envelope-height) * 2.5);
  --fold-rotate: rotateX(0deg);
  --fold-zindex-hover: 0;
  --fold-rotate-hover: rotateX(180deg);
  --fold-delay: calc(var(--duration) / 2);
  --fold-delay-hover: calc(var(--duration) * 0.75);
  --front-font-size: 1rem;
  --snowman-width: 40px;
  --bells-width: 25px;

  position: relative;
  height: var(--envelope-height);
  width: var(--envelope-width);
  perspective: 1000px;
  cursor: pointer;
}

.envelope::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  width: var(--shadow-width);
  height: 40px;
  transition: var(--duration) ease-in-out;
  transition-delay: var(--evelope-rotate-delay);
  transform: var(--shadow-transform);
  translate: -50% 0;
  border-radius: 50%;
  background: rgba(56, 6, 6, 0.4);
  filter: blur(var(--shadow-blur));
}

.envelope:hover {
  --envelope-transform: var(--envelope-transform-hover);
  --evelope-rotate-delay: var(--evelope-rotate-delay-hover);
  --shadow-transform: rotateY(180deg);
  --fold-rotate: var(--fold-rotate-hover);
  --fold-delay: var(--fold-delay-hover);
  --fold-zindex: var(--fold-zindex-hover);
  --letter-height: var(--letter-height-hover);
  --letter-delay: var(--letter-delay-hover);
}

.envelope-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: var(--duration) ease-in-out;
  transition-delay: var(--evelope-rotate-delay);
  transform-style: preserve-3d;
  transform: var(--envelope-transform);
  display: grid;
}

.envelope-front,
.envelope-back {
  position: relative;
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  background-color: var(--envelope-clr-bg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
  isolation: isolate;
}

.envelope-front {
  color: var(--envelope-clr-txt);
  display: grid;
  place-content: center;
}

.envelope-front .postage-stamp {
  position: absolute;
  top: 1em;
  right: 0.5em;
  width: 15%;
}

.envelope-front .address {
  text-align: left;
  font-size: var(--front-font-size);
}

.envelope-front .address > p > span:first-child {
  font-family: system-ui;
  font-weight: 200;
}

.envelope-front .address > p > span:last-of-type {
  font-weight: 800;
}

.envelope-back {
  transform: rotateY(180deg);
}

.envelope-back::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 3;
  background-image: conic-gradient(
    transparent 60deg,
    var(--envelope-clr-bg-side) 60deg 120deg,
    var(--envelope-clr-bg-bottom) 120deg 240deg,
    var(--envelope-clr-bg-side) 240deg 300deg,
    transparent 300deg
  );
}

.envelope-back .top-fold {
  position: absolute;
  inset: 0;
  z-index: var(--fold-zindex, 10);
  background-color: var(--envelope-clr-bg-top);
  clip-path: polygon(0% 0%, 50% 55%, 100% 0%);
  transform: var(--fold-rotate);
  transform-origin: top;
  transition: var(--duration) ease-in-out;
  transition-delay: var(--fold-delay);
}

.letter {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 90%;
  height: var(--letter-height);
  font-size: var(--letter-font-size);
  transform: translateX(-50%);
  background: var(--letter-clr-bg);
  z-index: 2;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  transition: var(--duration) ease-in-out;
  transition-delay: var(--letter-delay);
  overflow: hidden;
}

.letter > svg.snowman {
  width: var(--snowman-width);
}

.letter svg.bells {
  width: var(--bells-width);
  color: orange;
}

.letter p {
  margin: 0;
  font-weight: bold;
  width: 32ch;
  color: var(--letter-clr-text);
}

@media (min-width: 720px) {
  .envelope {
    --envelope-width: 600px;
    --envelope-height: 350px;
    --letter-font-size: 1.6rem;
    --snowman-width: 130px;
    --bells-width: 60px;
    --front-font-size: 1.25rem;
    --letter-height-hover: calc(var(--envelope-height) * 1.75);
  }
  
  .letter {
    padding: 2em 3em;
  }
}